@import "./variables.css";
@import "./base.css";
@import "./animations.css";
@import "./utilities.css";
@import "./navigation.css";
@import "./hero.css";
@import "./about.css";
@import "./project.css";
@import "./experience.css";
@import "./social.css";